/* Main calc CSS */
main .container {
    border: 2px solid;
    width: 560px;
    max-width: 90%;
    background-color: bisque;
    padding-bottom: 15px;
}

/* CSS for help contents */
div#helpContents {
    background-color: rgb(236, 239, 240);
    z-index: 25;
    padding: 20px;
    padding-right: 25px;
    text-align: justify;
    display: none;
}

/* the help close button is hidden by default */
button#closeHelpButton {
    visibility: hidden;
}


/* styling for the equation field */
#equationField {
    font-style: italic;
    font-size: 1.25em;
    background-color: darkslategray;
    color: azure;
}

/* styling for the result field */
#resultField {
    font-size: 2.25em;
    height: 10%;
    text-align: end;
    background-color: black;
    color: beige;
}


div#scientificCalc, #simpleCalc {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* styling for buttons */
.btn {
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding: 3px;
    font-size: large;
}

/* use different colour for scientific calc buttons */
div#scientificCalc > .btn {
    background-color: rgb(78, 56, 119);
    color: white;

}

/* different colour for 2nd-function buttons  */
div#scientificCalc > button.secondFun {
    background-color: rgb(144, 158, 67);
}

/* double width for "=" button */
div#simpleCalc > #equalButton {
    grid-column-end: span 2;
}

/* default display for 2nd-functions */
.secondFun {
    display: none;
}

/* for digits buttons */
button.digit {
    background-color: aquamarine;
    color: black;
}

/* for math-symbols buttons */
button.plusMinusSymbols {
    background-color: yellowgreen;
    color: black;
}

/* for footer */
.footer {
    text-align: center;
    background-color: rgb(212, 226, 88);

}